.info{
    text-align: center;  
}
#first-name{
    margin-left:30%;
}
#full-name{
    border: 1px solid #dddddd;
    height: 8px;
    border-radius: 8px;
    padding: 14px;
    width: 19%;
    color: #29B475;
    font-size: 20px;    
}
.infoForm{
    color: #29B475;
}
#full-stack{
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 14px;
    width: 46%;
    color: #29B475;
    font-size: 20px; 
}
#course, #course1{
    border: 1px solid #dddddd;
    height: px;
    border-radius: 8px;
    padding: 14px;
    width: 20%;
    color: #29B475;
    font-size: 20px; 
}
#complete{
    border: 1px solid #dddddd;
    height: px;
    border-radius: 8px;
    padding: 14px;
    width: 20%;
    color: #29B475;
    font-size: 20px; 
}
#select1{
    margin-left: 30%;
}
#contact{
    margin-left: 30%;
}
.term1{
    color: #29B475;
}
button{
    padding: 10px 24px;
    font-size: 16px;
    margin: 4px;
    background-color: #29B475;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    
}
#button1{
    margin-top: 20px;
}
button:hover{
    background-color: #10973F;
    cursor: pointer;
}
a{
background-color: red;
color: white;
padding: 5px;
border-radius: 12px;
}
a:hover{
    background-color: #10973F;
}